/*header .logo {
    float: left;
    height: 20px;
    margin: 4px 30px;
    font-size: 34px;
    padding-left: 60px
}
header .src-area {
    position: relative;
    height: 60px;
    width: 31%!important;
    float: right;
    display: inline-block;
    background: #F5F7F6;
}*/

li.active {
    color: red;
}
li a{
    font-size: 20px
}
/*header .main-menu {
    display: inline-block;
    float: left;
    margin-left: 12%;
}*/

.badge {
    color: white;
    background: green;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 24px;
}

.ul_section li {
    display: block;
}

.coure_Section h1 {
    color: white;
    text-align: center;
    padding-top: 8%;
}

.h1tagNotFound {
    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 75px;
}


.ul_section li {
    display: inline-block;
    color: red;
    cursor: pointer;
}

ul.ul_section {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    /* padding: 0 296px 25px 12px; */
}

.active-lesson{
    background: red;
}